.member-display {
  width: inline-block;
  padding-bottom: 4px;
}

.member-header h2 {
  margin-left: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 120%;
}

mat-card {
  background-color: lightblue;
  color: black;
}

hr {
  border: 3px solid black;
}
