<ng-container *ngIf="group">
  <h1 class="group-name">{{ group.name }}</h1>
  <hr>
  <div class="member-header">
    <h2>Members</h2>
  </div>
  <mat-card>
    <ng-container *ngFor="let member of group.members">
      <app-user-display [username]="member" class="member-display">
      </app-user-display>
    </ng-container>
  </mat-card>

  <ng-container *ngIf="group.slogan">
    <div class="member-header">
      <h2>Slogan</h2>
    </div>
    <mat-card>
      <h3 class="group-slogan">{{ group.slogan }}</h3>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="group.description">
   <div class="member-header">
      <h2>Description</h2>
    </div>
    <mat-card>
      <h3 class="group-description">{{ group.description }}</h3>
    </mat-card>
  </ng-container>
</ng-container>
