@import '../../../styles.scss';

.container {
  width: 80%;
  margin: auto;
}

.button-bar {
  margin-top: 2rem;
}

@media (max-width: $mobile-width) {
  .button-bar {
    flex-direction: column;
  }
}
