<mat-toolbar color="primary">
  <span>
    <a routerLink="/">
      <span>
        Dye Stats
        <ng-container *ngIf="userIsAuthenticated">
          : {{ username }}
        </ng-container>
      </span>
    </a>
  </span>
  <span class="spacer"></span>
  <ul>
    <ng-container *ngIf="userIsAuthenticated">
      <li>
        <a mat-button
          routerLink="/my-groups" routerLinkActive="mat-accent">
          <fa-icon [icon]="['fas', 'users']" size="lg" alt="Groups" title="Groups"></fa-icon>
        </a>
      </li>
      <li>
        <a mat-button
          routerLink="/leaderboard" routerLinkActive="mat-accent">
          <fa-icon [icon]="['fas', 'chart-line']" size="lg" alt="Leaderboard" title="Leaderboard"></fa-icon>
        </a>
      </li>
      <li>
        <a mat-button
          routerLink="/select-players" routerLinkActive="mat-accent">
          <fa-icon [icon]="['fas', 'plus-square']" size="lg" alt="Add New Game" title="Add New Game"></fa-icon>
        </a>
      </li>
      <li>
        <button mat-button (click)="onLogout()">
          <fa-icon [icon]="['fas', 'sign-out-alt']" size="lg" alt="Log Out" title="Log Out"></fa-icon>
        </button>
      </li>
    </ng-container>
    <ng-container *ngIf="!userIsAuthenticated">
      <li>
        <a mat-button
          routerLink="/login"
          routerLinkActive="mat-accent">
          Login
        </a>
      </li>
      <li>
        <a mat-button
          routerLink="/signup"
          routerLinkActive="mat-accent">
          Signup
        </a>
      </li>
    </ng-container>
  </ul>
</mat-toolbar>
