mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

mat-card {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 90%;
  background-color: lightblue;
}

button {
  margin-top: 8px;
}
