table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  font-size: 150%;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

mat-grid-tile {
  background: lightblue;
}

.container {
  width: 80%;
  margin: auto;
}

mat-radio-group, mat-radio-button {
  display: block;
}

mat-card {
  background-color: lightblue;
}
