<div *ngFor="let user of users">
  <app-user-display
    [username]="user.username"
    size="large">
  </app-user-display>

  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-grid-tile-header>Wins</mat-grid-tile-header>
      {{  user.stats.gamesWon | convertNaN }}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Losses</mat-grid-tile-header>
      {{ user.stats.gamesLost | convertNaN}}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>W/L</mat-grid-tile-header>
      {{ (((user.stats.gamesWon) / (user.stats.gamesWon + user.stats.gamesLost)) | convertNaN).toFixed(2) }}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Points per Game</mat-grid-tile-header>
      {{ (((user.stats.points) / (user.stats.gamesWon + user.stats.gamesLost)) | convertNaN).toFixed(2) }}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Catches per Game</mat-grid-tile-header>
      {{ (((user.stats.catches) / (user.stats.gamesWon + user.stats.gamesLost)) | convertNaN).toFixed(2) }}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Drops per Game</mat-grid-tile-header>
      {{ (((user.stats.drops) / (user.stats.gamesWon + user.stats.gamesLost)) | convertNaN).toFixed(2) }}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Fifas per Game</mat-grid-tile-header>
      {{ (((user.stats.fifas) / (user.stats.gamesWon + user.stats.gamesLost)) | convertNaN).toFixed(2) }}
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-grid-tile-header>Sinkers per Game</mat-grid-tile-header>
      {{ (((user.stats.sinkers) / (user.stats.gamesWon + user.stats.gamesLost)) | convertNaN).toFixed(2) }}
    </mat-grid-tile>
  </mat-grid-list>
</div>
