<div class="team-info" *ngIf="playerNames.length === 4">
  <h3 class="header">TEAM 1</h3>
  <h3 class="header">{{ topScoreOne + topScoreTwo }} - {{ bottomScoreOne + bottomScoreTwo }}</h3>
  <h3 class="header">TEAM 2</h3>
</div>

<div class="row-container">
  <span class="row">
    <app-game-create *ngFor="let name of playerNames; index as i"
      class="column"
      [index]="i"
      [singlePlayer]="singlePlayerOnly"
      (statsChanged)="onStatsChanged($event)"
      [playerName]="name">
    </app-game-create>
  </span>
</div>

<div #finishButtons class="finish-buttons">
  <button
    mat-raised-button
    color="warn"
    class="input-button left"
    (click)="onCancelClicked()">
    CANCEL
  </button>
  <button
    mat-raised-button
    color="primary"
    class="input-button right"
    (click)="onDoneClicked()">
    DONE
  </button>
</div>
