.row {
  width: 95%;
  display: flex;
  margin: auto;
  margin-bottom: 2rem;
}

.column {
  flex: 20%;
  background-color: lightblue;
  margin-right: 10px;
  text-align: center;
  padding-bottom: 2rem;
}

.center {
  text-align: center;
}

.score {
  text-align: center;
}

.eighty {
  display: block;
  width: 53%;
  margin: auto;
  text-align: center;
}

.header {
  display: inline-block;
}
