@import '../../../styles.scss';

.row {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 2rem;
}

.row-container {
  width: 100%;
  max-width: 100%;
}

.column {
  width: 24%;
  background-color: lightblue;
  text-align: center;
  padding-bottom: 1rem;
  border-radius: 10px;
}

@media (max-width: $mobile-width) {
  .row {
    display: block;
  }

  .column {
    width: 90%;
  }
}

.center, .score {
  text-align: center;
}

.header {
  display: inline-block;
}

.team-info {
  display: flex;
  justify-content: space-evenly; /* TODO - doesn't work on ie */
}

.finish-buttons {
  max-width: 95%;
  margin: auto;
  padding-bottom: 2rem;
}
