
<mat-spinner *ngIf="isLoading"></mat-spinner>

<main>
<mat-accordion multi="true" *ngIf="games.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let game of games">
    <mat-expansion-panel-header>
      {{ game.date | dateToString }}
    </mat-expansion-panel-header>

    <h2>Score</h2>
    {{ game.score }}

    <h2>Winners</h2>
    <app-game-results [playerGame]="game.playerGames[0]">
    </app-game-results>

    <app-game-results [playerGame]="game.playerGames[1]">
    </app-game-results>

    <h2>Losers</h2>
    <app-game-results [playerGame]="game.playerGames[2]">
    </app-game-results>

    <app-game-results [playerGame]="game.playerGames[3]">
    </app-game-results>

    <mat-action-row>
      <button mat-button color="warn" (click)="deleteGame(game.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
</main>

<div *ngIf="games.length == 0 && !isLoading">
  You have no games yet! Click on the top right to add one
</div>
