table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  font-size: 150%;
}

mat-grid-tile {
  background: lightblue;
}

main {
  width: 80%;
  margin: auto;
}

.center {
  text-align: center;
}

.header-score {
  padding-right: 10px;
  padding-left: 10px;
}
