@import '../../../styles.scss';

table {
  width: 100%;
  table-layout: fixed;
}

th, td {
  font-size: 150%;
}

mat-grid-tile {
  background: lightblue;
}

main {
  width: 80%;
  margin: auto;
}

.center {
  text-align: center;
}

.header-score {
  margin-right: 6px;
  margin-left: 6px;
}

@media (max-width: $mobile-width) {
  mat-expansion-panel-header {
    min-height: 100px;
  }

  mat-panel-title {
    margin-right: 6px;
  }
}
