<div class="game-field-container">
  <div class="image-bar">
    <img *ngIf="mvp" src="assets/star.svg" alt="MVP">
    <img *ngIf="lvp" src="assets/thumbs-down.svg" alt="LVP">
    <img *ngIf="catchLeader" src="assets/hand.svg" alt="Catch Leader">
    <img *ngIf="pointLeader" src="assets/points.svg" alt="Points Leader">
  </div>
</div>

<div class="game-field-container">
  <h2>
    {{ playerName }}
  </h2>
</div>

<app-game-create-field
  [statType]="StatType.catches"
  statTitle="Catches"
  (statChanged)="statChanged($event)">
</app-game-create-field>

<app-game-create-field
  [statType]="StatType.drops"
  statTitle="Drops"
  (statChanged)="statChanged($event)">
</app-game-create-field>

<app-game-create-field
  [statType]="StatType.points"
  statTitle="Points"
  (statChanged)="statChanged($event)">
</app-game-create-field>

<app-game-create-field
  [statType]="StatType.fifas"
  statTitle="Fifas"
  (statChanged)="statChanged($event)">
</app-game-create-field>

<app-game-create-field
  [statType]="StatType.sinkers"
  statTitle="Sinkers"
  (statChanged)="statChanged($event)">
</app-game-create-field>

<div class="game-field-container">
  <mat-card class="game-field-buttons">
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button
        class="left" name="win-loss" value="win"
        (click)="onWinClicked()">
        Win
      </mat-radio-button>
      <mat-radio-button
        class="right" name="win-loss" value="loss" checked="checked"
        (click)="onLossClicked()">
        Loss
      </mat-radio-button>
    </mat-radio-group>
  </mat-card>
</div>
