main {
  width: 60%;
  margin: auto;
}

.players-form {
  width: 100%;
}

app-player-selection-form-field {
  width: 100%;
  display: block;
}

mat-card {
  padding-bottom: 3rem;
}

.player-selection {
  margin-top: 2rem;
}
