hr {
  border: 5px solid lightblue;
}

::ng-deep mat-card {
  width: 80%;
  margin: auto;
}

mat-card-subtitle {
  text-align: center;
}

::ng-deep .header-card {
  text-align: center;
  background-color: lightblue;
}
