<mat-card class="header-card">
  <h1>{{ username }}</h1>
</mat-card>

<mat-card>
  <mat-card-subtitle>
    Try and choose a square shaped image!
  </mat-card-subtitle>
  <app-image-uploader *ngIf="!imageUploading && profileImagePath"
    [defaultImagePath]="profileImagePath"
    (imageChosen)="imageSelected($event)">
  </app-image-uploader>
  <app-loading-indicator *ngIf="imageUploading">
  </app-loading-indicator>
</mat-card>

<!-- TODO, pass in notifications -->
<app-notifications-display>
</app-notifications-display>
