/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.left {
  float: left;
}

.right {
  float: right;
}

.button-bar {
  display: flex;
  justify-content: space-between;
}

$mobile-width: 768px;
