<div class="container">
  <form>
    <h1>Team One</h1>
    <app-player-selection-form-field></app-player-selection-form-field>
    <app-player-selection-form-field></app-player-selection-form-field>

    <h1>Team Two</h1>
    <app-player-selection-form-field></app-player-selection-form-field>
    <app-player-selection-form-field></app-player-selection-form-field>
  </form>

  <br>
  <button mat-raised-button color="accent" (click)="calculate()">Calculate</button>
</div>

<div>
  <h2>{{errorMessage}}</h2>
</div>
