.container {
  width: 80%;
  max-width: 80%;
  min-width: 80%;
  margin: auto;
}

.results-container-super {
  display: flex;
  justify-content: space-between;
}

.results-container {
  width: 45%;
}
